name: Test
permissions:
  checks: write
  contents: write
  pull-requests: write
  statuses: write
  id-token: write
"on":
  pull_request:
    branches:
      - main
    paths:
      - '**'
  workflow_dispatch:
    inputs:
      target:
        description: Provided SDK target to run tests for, (all) is valid
        type: string
jobs:
  generate-token:
    runs-on: ubuntu-latest
    outputs:
      token: ${{ steps.app-token.outputs.token }}
    steps:
      - name: Generate GitHub App Token
        id: app-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.GH_CI_BOT_APP_ID }}
          private-key: ${{ secrets.GH_CI_BOT_APP_PRIVATE_KEY }}
          owner: apideck-libraries

  test:
    needs: generate-token
    uses: speakeasy-api/sdk-generation-action/.github/workflows/sdk-test.yaml@v15
    with:
      target: ${{ github.event.inputs.target || 'apideck' }}
    secrets:
      github_access_token: ${{ needs.generate-token.outputs.token }}
      speakeasy_api_key: ${{ secrets.SPEAKEASY_API_KEY }}
